*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-image: url('imglogo.jfif');
}
.form-register{
    width: 400px;
    background: rgb(255, 254, 255) ;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Comic Sans MS' ;
    color: e;
    box-shadow: 7px 13px 37px #f4cbed;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 30px;  
}

.controls {
    width: 100%;
    background:#f6f6f6;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #dd156d;
    font-family:'Comic Sans MS';
    font-size: 18xp;
}

.form-register p{
    height: 40px ;  
    text-align: center;
    font-size: 20px; 
}

.form-register a{
    color: #dd156d; 
    text-decoration: none;   
}

.form-register a:hover{
    color: #dd156d; 
    text-decoration: underline;   
}

.form-register .botons{
    width: 100%;
    background: #fafbfb;  
    border:2px solid #dd156d; 
    padding: 12px; 
    color:rgb(0, 0, 0);
    margin:16px 0 ;
    font-size: 16px;

}